<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="">

    <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-facebook px-1"></i></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-linkedin"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    
    <div class="">
      <div class="container px-5 d-lg-flex my-5 text-center text-lg-start justify-content-between text-light">
        <div class="">
          <a class="navbar-brand fs-1 fw-bold me-5" href="{% url "home" %}">IQ <span style="color:#FFB534">Tester</span></a>
        </div>
        <div class="list-unstyled mb-5">
          <li class="mt-2">The Quizizz Blog</li>
          <li class="mt-2">Teacher Resources</li>
          <li class="mt-2">Quizizz for Work</li>
          <li class="mt-2">Help Center</li>
          <li class="mt-2">Accessibility and Inclusion</li>
          <li class="mt-2">Sitemap</li>
          <li class="mt-2">Terms of Service</li>
        </div>
        <div class="list-unstyled">
          <li class="mt-2">Worksheets</li>
          <li class="mt-2">Reseller program</li>
          <li class="mt-2">Privacy Policy</li>
          <li class="mt-2">Privacy Center</li>
          <li class="mt-2">Careers</li>
          <li class="mt-2">About Us</li>
          <li class="mt-2">Terms of use of the site</li>
        </div>
      </div>
      <div class="text-center pb-4 p-3" style="background-color: #000000;">
        © 2024 Copyright:
        <a class="text-white" href="{% url "home" %}">IQ Tester</a>
      </div>
    </div>
   
  </footer>
    
  </div>
  <!-- End of .container -->