{% extends "base.html" %}

{% block content %}

<section style="background-color: #EEF5FF" class="w-75 m-auto rounded-4 shadow p-5 my-5">
    <div>
        <h3 class="text-center">{{ quiz.title }}</h3>
        <span>Total Quiz {{quiz.questions.all|length}}</span>
        <div class="bg-light w-75 m-auto p-5 my-5 border border-dark-subtle rounded-4">
            <h5>{{question.text}}</h5>
            <div class="p-4">
                <form method='post'>
                    {% csrf_token %}
                    <div class="form-check ps-0">
                       {% for choice in question.choice.all %}
                       <div class="form-check ps-0">
                            
                            <label class="form-check-label border rounded w-100 p-2 my-2 ps-5 bg-secondary-subtle" for="gridRadios{{choice.id}}">
                                <input class="form-check-input me-3" type="radio" name="{{question.text}}" id="gridRadios{{choice.id}}" value="{{choice.id}}" {% if ans != None and choice.id == ans.id %} checked {% endif %}>
                                {{choice.option}}
                            </label>
                        </div>
                       {% endfor %}
                        <br>
                    </div>    
                    <input id='timer' type='hidden' name="timer" value="">
                    {% if ans != None and ans.is_correct == True %}
                    <h5 class="text-success">{{ans}} is Correct Answer</h5>
                    {% elif ans != None and ans.is_correct == False %}
                    <h5 class="text-danger">{{ans}} is Wrong Answer</h5>
                    {% endif %}
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                {% comment %} Pagination {% endcomment %}
                <div class="pagination justify-content-center mt-3">
                    <span class="step-links">
                        {% if current_page.has_previous %}
                            <a class="btn btn-outline-dark btn-sm px-5" href="/quiz/{{quiz.id}}/?page={{ current_page.previous_page_number }}">&laquo; Previous</a>
                        {% endif %}
                        <span class="current mx-4">
                            Quiz {{ current_page.number }} of {{ current_page.paginator.num_pages }}.
                        </span>
                
                        {% if current_page.has_next %}
                            <a class="btn btn-outline-dark btn-sm px-5" href="/quiz/{{quiz.id}}/?page={{ current_page.next_page_number }}">Next &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}